.search-results {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: gainsboro;
}
.section-title {
    text-align: center;
    justify-content: center;
} 
.property-grid {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.property-card {
    display: flex;
}